.page404__wrap {
  width: 100%;
  height: 100vh;
  background: #232323;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page404__wrap a {
  font-size: 30px;
  color: #fff;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
  transition: .2s;
}
.page404__wrap a:hover {
  color: lightblue;
}
.locations__item-link.active {
  text-shadow:1px 0 0,.5px 0 0,-1px 0 0
}
